.footer {
  width: 100%;
  background: #f8f4f9 0% 0% no-repeat padding-box;
  border: 1px solid #1f343e;
  padding: 48px 32px;

  .width {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;

    .container {
      display: flex;
      flex-direction: column;
      gap: 32px;
      color: #1f343e;
      .logo_text {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
      .contact_social {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      .logo {
        height: 32px;
        width: 125px;
      }
      h3 {
        font-size: 16px;
        font-family: "Noto Sans", sans-serif;
        text-transform: uppercase;
        margin-bottom: 23px;
        color: #1f343e;
        letter-spacing: 1.28px;
      }

      .links {
        margin-top: 16px;

        & > div {
          display: flex;
          flex-direction: column;
          gap: 15px;

          a {
            color: #1f343e;
            font-size: 16px;
            font-family: "Noto Sans", sans-serif;

            &:hover {
              color: #4eb3e3;
            }
          }
        }
      }
      .contact {
        & > div {
          display: flex;
          gap: 16px;

          p {
            font-size: 16px;
            font-family: "Noto Sans", sans-serif;
            color: #1f343e;
          }
        }
      }
      .social {
        & > div {
          display: flex;
          gap: 8px;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background: #4eb3e3 0% 0% no-repeat padding-box;
            border: 1px solid #1f343e;
            border-radius: 8px;
            cursor: pointer;
            img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
      .rights {
        font-size: 16px;
        font-family: "Noto Sans", sans-serif;
        color: #6d7a80;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    .width {
      .container {
        flex-direction: row;

        .logo_text {
          margin-right: 18px;
        }

        .links {
          width: 100%;
          margin-top: 0;
        }

        .contact_social {
          gap: 69px;
        }
      }
      .rights {
        margin-top: -60px;
      }
    }
  }
}
